<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lytech.anoyoce.mapper.ChatRedMapper">
    <select id="queryByRoomId" resultType="java.util.List">
        select * from
        chat_red cr
        <where>
            <if test="roomId != null and roomId != ''" >
                room_id = #{roomId}
            </if>
            <if test="userId != null">
                AND pid = #{userId}
            </if>
        </where>
    </select>
</mapper>